@font-face{
    font-family: "Quicksand-Bold";
    src: url(../fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.woff) format('woff'),
        url(../fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.ttf) format('ttf'),
        url(../fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.svg) format('svg'),
        url(../fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.otf) format('otf'),
        url(../fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.eot) format('eot');
}
@font-face{
    font-family: "Quicksand-Light";
    src: url(../fonts/Quicksand/Quicksand-Light/Quicksand-Light.woff) format('woff'),
        url(../fonts/Quicksand/Quicksand-Light/Quicksand-Light.ttf) format('ttf'),
        url(../fonts/Quicksand/Quicksand-Light/Quicksand-Light.svg) format('svg'),
        url(../fonts/Quicksand/Quicksand-Light/Quicksand-Light.otf) format('otf'),
        url(../fonts/Quicksand/Quicksand-Light/Quicksand-Light.eot) format('eot');
}
@font-face{
    font-family: "Quicksand-Medium";
    src: url(../fonts/Quicksand/Quicksand-Medium/Quicksand-Medium.woff) format('woff'),
        url(../fonts/Quicksand/Quicksand-Medium/Quicksand-Medium.ttf) format('ttf'),
        url(../fonts/Quicksand/Quicksand-Medium/Quicksand-Medium.svg) format('svg'),
        url(../fonts/Quicksand/Quicksand-Medium/Quicksand-Medium.otf) format('otf'),
        url(../fonts/Quicksand/Quicksand-Medium/Quicksand-Medium.eot) format('eot');
}
@font-face{
    font-family: "Quicksand-Regular";
    src: url(../fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.woff) format('woff'),
        url(../fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.ttf) format('ttf'),
        url(../fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.svg) format('svg'),
        url(../fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.otf) format('otf'),
        url(../fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.eot) format('eot');
}
@font-face{
    font-family: "Quicksand-SemiBold";
    src: url(../fonts/Quicksand/Quicksand-SemiBold/Quicksand-SemiBold.woff) format('woff'),
        url(../fonts/Quicksand/Quicksand-SemiBold/Quicksand-SemiBold.ttf) format('ttf'),
        url(../fonts/Quicksand/Quicksand-SemiBold/Quicksand-SemiBold.svg) format('svg'),
        url(../fonts/Quicksand/Quicksand-SemiBold/Quicksand-SemiBold.otf) format('otf'),
        url(../fonts/Quicksand/Quicksand-SemiBold/Quicksand-SemiBold.eot) format('eot');
}

@font-face{
    font-family: "Montserrat-Black";
    src: url(../fonts/Montserrat/Montserrat-Black/Montserrat-Black.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-Black/Montserrat-Black.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-Black/Montserrat-Black.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-Black/Montserrat-Black.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-Black/Montserrat-Black.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-BlackItalic";
    src: url(../fonts/Montserrat/Montserrat-BlackItalic/Montserrat-BlackItalic.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-BlackItalic/Montserrat-BlackItalic.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-BlackItalic/Montserrat-BlackItalic.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-BlackItalic/Montserrat-BlackItalic.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-BlackItalic/Montserrat-BlackItalic.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-BoldItalic";
    src: url(../fonts/Montserrat/Montserrat-BoldItalic/Montserrat-BoldItalic.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-BoldItalic/Montserrat-BoldItalic.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-BoldItalic/Montserrat-BoldItalic.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-BoldItalic/Montserrat-BoldItalic.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-BoldItalic/Montserrat-BoldItalic.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-ExtraBold";
    src: url(../fonts/Montserrat/Montserrat-ExtraBold/Montserrat-ExtraBold.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-ExtraBold/Montserrat-ExtraBold.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-ExtraBold/Montserrat-ExtraBold.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-ExtraBold/Montserrat-ExtraBold.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-ExtraBoldItalic";
    src: url(../fonts/Montserrat/Montserrat-ExtraBoldItalic/Montserrat-ExtraBoldItalic.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-ExtraBoldItalic/Montserrat-ExtraBoldItalic.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-ExtraBoldItalic/Montserrat-ExtraBoldItalic.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-ExtraBoldItalic/Montserrat-ExtraBoldItalic.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-ExtraBoldItalic/Montserrat-ExtraBoldItalic.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-ExtraLight";
    src: url(../fonts/Montserrat/Montserrat-ExtraLight/Montserrat-ExtraLight.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-ExtraLight/Montserrat-ExtraLight.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-ExtraLight/Montserrat-ExtraLight.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-ExtraLight/Montserrat-ExtraLight.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-ExtraLight/Montserrat-ExtraLight.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-ExtraLightItalic";
    src: url(../fonts/Montserrat/Montserrat-ExtraLightItalic/Montserrat-ExtraLightItalic.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-ExtraLightItalic/Montserrat-ExtraLightItalic.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-ExtraLightItalic/Montserrat-ExtraLightItalic.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-ExtraLightItalic/Montserrat-ExtraLightItalic.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-ExtraLightItalic/Montserrat-ExtraLightItalic.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-Italic";
    src: url(../fonts/Montserrat/Montserrat-Italic/Montserrat-Italic.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-Italic/Montserrat-Italic.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-Italic/Montserrat-Italic.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-Italic/Montserrat-Italic.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-Italic/Montserrat-Italic.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-Light";
    src: url(../fonts/Montserrat/Montserrat-Light/Montserrat-Light.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-Light/Montserrat-Light.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-Light/Montserrat-Light.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-Light/Montserrat-Light.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-Light/Montserrat-Light.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-LightItalic";
    src: url(../fonts/Montserrat/Montserrat-LightItalic/Montserrat-LightItalic.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-LightItalic/Montserrat-LightItalic.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-LightItalic/Montserrat-LightItalic.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-LightItalic/Montserrat-LightItalic.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-LightItalic/Montserrat-LightItalic.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-Medium";
    src: url(../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-MediumItalic";
    src: url(../fonts/Montserrat/Montserrat-MediumItalic/Montserrat-MediumItalic.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-MediumItalic/Montserrat-MediumItalic.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-MediumItalic/Montserrat-MediumItalic.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-MediumItalic/Montserrat-MediumItalic.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-MediumItalic/Montserrat-MediumItalic.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-SemiBold";
    src: url(../fonts/Montserrat/Montserrat-SemiBold/Montserrat-SemiBold.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-SemiBold/Montserrat-SemiBold.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-SemiBold/Montserrat-SemiBold.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-SemiBold/Montserrat-SemiBold.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-SemiBold/Montserrat-SemiBold.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-SemiBoldItalic";
    src: url(../fonts/Montserrat/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-Thin";
    src: url(../fonts/Montserrat/Montserrat-Thin/Montserrat-Thin.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-Thin/Montserrat-Thin.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-Thin/Montserrat-Thin.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-Thin/Montserrat-Thin.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-Thin/Montserrat-Thin.eot) format('eot');
}
@font-face{
    font-family: "Montserrat-ThinItalic";
    src: url(../fonts/Montserrat/Montserrat-ThinItalic/Montserrat-ThinItalic.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-ThinItalic/Montserrat-ThinItalic.ttf) format('ttf'),
        url(../fonts/Montserrat/Montserrat-ThinItalic/Montserrat-ThinItalic.svg) format('svg'),
        url(../fonts/Montserrat/Montserrat-ThinItalic/Montserrat-ThinItalic.otf) format('otf'),
        url(../fonts/Montserrat/Montserrat-ThinItalic/Montserrat-ThinItalic.eot) format('eot');
}